body{
	font-size: 16px;
	color: black;
}

/* Header */
#header-nav{
	background-color: dimgray;
	border-radius: 0;
	border: 0;
}
 
 .navbar-brand{
 	padding-top: 25px;
 }

.navbar-brand h1{
	font-family: Arial;
	color: black;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0;

}

.num {
	background-color: dimgray;
	padding: 0 25px;
	margin-bottom: 25px;
}
.num h3 {
	font-weight: bold;
	text-align: center;
}
.menu {
	margin-bottom: 20px;
}
.menu h2{
	text-align: center;
	font-weight: bold;
}

.navbar-brand p span{
	vertical-align: middle;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: black;
	text-align: center; 
}

#nav-list a span{
	font-size: 1.8em;
}
.displayID  {
	background-color: dimgray;
}
.displayID ul {
	display: none;
}
.go-to-top{
	display: none;
}

@media screen and (max-width:766px) {
	.displayID ul{
		display: initial;
		text-align: center;
	}
	.go-to-top{
		display: initial;
	}

}